# Ignoruje pliki budowy i foldery
*.o
*.elf
*.hex
*.eep
*.lss
*.sym
*.map

# Ignoruje pliki konfiguracyjne IDE Arduino
*.ino.*
arduino_build/
arduino_cache_*

# Ignoruje pliki tymczasowe systemu operacyjnego
*.swp
*.bak
*.tmp
*~
.DS_Store
# test

